[submodule "entt"]
	path = libs/entt
	url = https://github.com/skypjack/entt
[submodule "spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "stb"]
	path = libs/stb
	url = https://github.com/nothings/stb
