[submodule "glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm/
[submodule "glfw"]
	path = libs/glfw
	url = https://github.com/JeppeSRC/glfw.git
[submodule "entt"]
	path = libs/entt
	url = https://github.com/skypjack/entt
